body {
  margin: 0;
  box-sizing: border-box;
}
div div.Signin{
  width: "100%";
  height: "40vw";
  display: "flex";
  justify-content: "center";
  align-items: "center"
}


.Signin.active{
  display: none;
}


.login {
  display: none;
}

.login.active {
  display: inline-block;
  width: "100%";
  height: "40vw";
  display: "flex";
  justify-content: "center";
  align-items: "center"
}
