.Navbar{
    height: 80px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    margin: 0;
}


.Navbar ul li{
    list-style: none;
    position: relative;
    padding:10px;
    border:1px solid transparent;
    width: 100px;
    height: 30px;
}

.Navbar ul li a{
    color:white;
    text-decoration: none;
    letter-spacing: 5px;
    position: relative;
}

.Navbar ul li a::after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.Navbar ul li.cenas a#icon:hover::after{
    display: none;
}
.Navbar ul li a:hover::after{
    
    width:95%;
}

.Navbar ul li#special a:hover::after{
    
    width:55%;
}

.Navbar ul li.cenas{
    display: flex;
    justify-content: center;
}



.Navbar ul{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
}

body{
    box-sizing: border-box;
    margin: 0;
}

.btn{
    display: none;
}

@media (max-width:400px){
    .btn{
        display: inline;

    }
    .Navbar{
        height: 200px;
        justify-content: center;
    }
    .Navbar ul{     
        padding-inline-start:0 !important;
        flex-direction: column;
    }
    .Navbar ul li{
        display: none;
    }

    .Navbar ul li.active{
        display: inline-block;
    }
    
    .Navbar.active{
        background-color: red;
    }

    
}

div.Navbar ul li ul{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: -40px;
    bottom: -70px;
    letter-spacing: 3px;
    
}
div.Navbar ul li ul li.hidden{
    display: none;
}

ul li.hidden.active a::after{
    bottom: -4px;
}

div.Navbar ul li ul li.hidden.active{
    
    display: flex;
    background-color:black ;
    width: 200px;
}


div.Navbar ul li ul.hidden li{
    background-color: black;
}

div.Navbar ul li ul.hidden li a{
    color: white;
}

